/*
THIS IS ORIGINAL DESIGN!!
*/

@font-face{
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans';
    font-weight: normal;
}
@font-face{
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';
    font-weight: normal;
}

/*....GLOBAL STYLING....*/
*,html,body {
  padding: 0;
  margin:0;
}

/*.....BODY STYLING ....*/
body{
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: normal;
}
ul li{
  list-style-type: none;
}

/*............TOP BAR.......*/
#topbar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 0.2em;
  height: 2.4em;
  background-color: #088435;
  color: #ffffff;
}

#users {
  float: right;
  padding-right:1em;
}
#users a{
  text-decoration: none;
  color: #05c46b;
}
#topbar .logo, .navigation{
  padding-top: 0.6em;
}
#topbar .logo #branding{
  margin-left: 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}


#branding .uniques{
  color: #273c75;
  font-size: 1.2em;
  font-weight: 600;
  text-transform:uppercase;

}
#topbar .navigation > a{
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
#topbar .navigation > a:hover{
  cursor: pointer;
  color: #05c46b;
  padding-right: 0.5em;
  transition: 0.2s ease-in;
}
#topbar .navigation > .current{
  color: #f1c40f;
  padding-right: 0.5em
}
#topbar .navigation .one_line{
  padding-left: 2.5em;
  display: inline-grid;
}

/*............THE BODY CONTENT STYLING..........*/
#bodycontainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 100vh;
}
#reporterForm{
  width: 100%;

}

#incidenceGraphs{
  width: 100%;
}
